<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Milano Palace Events</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/logo2.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">


</head>

<body class="page-contact">

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <!-- <h1 class="d-flex align-items-center">Milano Palace</h1> -->
        <img src="assets/img/logo2.png" style="width: 180px;">
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/index">Home</a></li>
          <li class="dropdown"><a href="#"><span>Events</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="/events">Corporate Events</a></li>
              <li><a href="/wedding">Wedding Events</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Marketing</span> <i
                class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="/marketingDm">Digital Marketing</a></li>
              <li><a href="/marketingSm">Social Media Marketing</a></li>
              <li><a href="/marketingGa">Google Ads(PPC)</a></li>
              <li><a href="/marketingWd">Web Design</a></li>
              <li><a href="/marketingApps">App Development</a></li>
            </ul>
          </li>
          <li><a href="#">Portfolio</a></li>
          <li><a href="/about" >About US</a></li>
          <li><a href="/contact" class="active">Contact Us</a></li>
        </ul>
      </nav>

    </div>
  </header>

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center"
      style="background-image: url('assets/img/istockphoto-1416335096-170667a.webp');">
      <div class="container position-relative d-flex flex-column align-items-center">

        <h2>Contact</h2>
        <br>
        <br>
        <br>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container position-relative" data-aos="fade-up">

        <div class="row  d-flex justify-content-center mb-5">
          <div class="col-md-4 col-12">
            <div class="info-item d-flex">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h4>Location</h4>
                <p><a style="color: black;" href="https://goo.gl/maps/4DAvooGhECnZrbYD9" target="_blank">Al Garhoud views building 708 ,
                    Sheikh Rashid Road<br> Dubai, United Arab Emirates</a> </p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-12">
            <div class="info-item d-flex">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h4>Email</h4>
                <p><a style="color: black;" href="mailto:info@milanollc.com">info@milanollc.com</a> <br> 
                  <a style="color: black;" href="mailto:marketing@milanollc.com">marketing@milanollc.com</a></p>
              </div>
            </div>
          </div>


          <div class="col-md-4 col-12">
            <div class="info-item d-flex">
              <i class="bi bi-phone flex-shrink-0"></i>
              <div>
                <h4>Call</h4>
                <p> <a style="color: black;" href="tel:00971529550050">+971 52 955 0050</a><br> 
                  <a style="color: black;" href="tel:0097145461492">+971 454 614 92</a></p>
              </div>
            </div>
          </div>


        </div>

        <div class="row gy-4 d-flex justify-content-end">
          <div class="col-12" data-aos="fade-up" data-aos-delay="100">
            <div id="map">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3608.7938167395564!2d55.33753257496935!3d25.243868629809604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f5de5207c6b05%3A0x219c0d66b48a719f!2sMilano%20Palace%20Events!5e0!3m2!1sen!2sae!4v1693216067619!5m2!1sen!2sae"
                width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>
          </div>
        </div>



      </div>
    </section><!-- End Contact Section -->
    <!-- <section id="why-us" class="why-us">
      <div id="map">

        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96706.50013548559!2d-78.9870674333782!3d40.76030630398601!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited+States!5e0!3m2!1sen!2sbd!4v1436299406518"
          width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </section> -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">
        <div class="row gy-4">

          <div class="col-lg-5 col-md-12 footer-contact text-start">
            <h4>Contact Us</h4>
            <p> <i class="bi bi-geo-alt-fill"></i> <a style="color: black;" href="https://goo.gl/maps/4DAvooGhECnZrbYD9" target="_blank">Al
                Garhoud views building 708 Sheikh Rashid Road
                <br>Dubai United Arab Emirates</a>
            </p>
            <p> <i class="bi bi-phone"> </i>
              <a style="color: black;" href="tel:00971529550050">+971 52 955 0050</a>
            </p><br>
            <p> <i class="bi bi-telephone"> </i>
              <a style="color: black;" href="tel:0097145461492">+971 454 614 92</a>
            </p><br>
            <p> <i class="bi bi-envelope-at"> </i>
              <a style="color: black;" href="mailto:info@milanollc.com">info@milanollc.com</a>
            </p><br>
            <p> <i class="bi bi-envelope-at-fill"> </i> <a style="color: black;" href="mailto:marketing@milanollc.com">marketing@milanollc.com</a></p>

            <div class="social-links d-flex justify-content-center ">
              <a href="https://www.facebook.com/Milanowedding/" target="_blank" class="facebook"><i
                  class="bi bi-facebook"></i></a>
              <a href="https://www.instagram.com/milano_palace__wedding/?hl=en" target="_blank" class="instagram"><i
                  class="bi bi-instagram"></i></a>
              <a href="https://www.youtube.com/channel/UCFb2RbYXujYZjXXL8elU3cw" target="_blank" class="youtube"><i
                  class="bi bi-youtube"></i></a>
            </div>
          </div>
          <div class="col-md-1"></div>

          <div class="col-lg-6 col-md-12 footer-info get-in-touch">

            <h4> Looking for help with your event ?</h4>
            <p>Plan an impressive, world-class event guaranteed to impress your guests.
              Get in touch today and start working with us.</p>
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="mail" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" id="message" placeholder="message" required></textarea>
              </div>
              <div class="my-3">
                <p id="sucMessage" style="color: green;display: none;">Your message has been sent. Thank you!</p>
                <p id="Errmessage" style="color: red;display: none;">Error, Please try again. </p>
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="button" onclick="sendMessage()" id="submitBtn">Send Message</button></div>
            </form>

          </div>





        </div>
      </div>
    </div>

    <div class="footer-legal">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Milano Palace</span></strong>. All Rights Reserved
        </div>

      </div>
    </div>
  </footer>

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script src="assets/js/contact.js"></script>
</body>

</html>