<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Professional Event Management Services in Dubai - Conferences, Product Launch, Gala, Festivals, Sports
    ,corporate events</title>
  <meta
    content="Discover our professional event management services in Dubai. We specialize in conferences, product launches, gala and networking events, festivals, and sports events. Create memorable and engaging experiences for your audience."
    name="description">
  <meta
    content="event management, corporate events, conferences, product launch, gala events, festivals, sports events, Dubai"
    name="keywords">

  <!-- Favicons -->
  <link href="assets/img/logo2.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

  <!-- Template Main CSS File -->
  <link href="assets/css/features.css" rel="stylesheet">
  <link href="assets/css/main.css" rel="stylesheet">
  <link href="assets/css/animate.css" rel="stylesheet">


  <link href="assets/css/map.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <style>
    .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .srvImg {
      filter: brightness(0.5);
      transition: filter 0.5s ease;
      width: 306px;
      height: 204px;
      cursor: pointer;
    }

    .srvImg:hover {
      filter: brightness(0.8);
    }


    @media (max-width: 830px) {
      .srvImg {
        width: 364px;
        height: 242px;
      }
    }

    .imgTxt {
      cursor: pointer;
      font-family: cursive;
      color: white;
      font-size: 22px;
    }


    .imgCont {
      position: relative;
      text-align: center;
      color: white;
    }
  </style>


</head>

<body class="page-services">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/index" class="logo d-flex align-items-center">
        <img width="180px" height="93px" src="assets/img/logo2.png" alt="Milano Palace Events logo">
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a id="home" href="/index">Home</a></li>
          <li><a id="events" href="/events" class="active">Corporate Events</a></li>
          <li><a id="wedding" href="/wedding">Wedding Events</a></li>
          <li class="dropdown"><a id="itSol" href="#"><span>IT Solutions</span> <i
                class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="/itSolutions">IT support services</a></li>
              <li><a href="/marketingWd">Web Design</a></li>
              <li><a href="/marketingApps">App Development</a></li>
              <!-- <li><a href="/marketingDm">Digital Marketing</a></li>
                        <li><a href="/marketingSm">Social Media Marketing</a></li>
                        <li><a href="/marketingGa">Google Ads(PPC)</a></li> -->
            </ul>
          </li>
          <!-- <li><a href="#">Portfolio</a></li> -->
          <li><a id="about" href="/about">About US</a></li>
          <li><a id="contact" href="/contact">Contact Us</a></li>
        </ul>
      </nav>

    </div>
  </header>

  <main id="main">
    <!-- ======= Breadcrumbs ======= -->

    <div class="breadcrumbs d-flex align-items-center"
      style="background-image: url('assets/img/photo-1540575467063-178a50c2df87.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center">
        <div class=" text-center" data-aos="fade-up" data-aos-delay="100">
          <h2>Expert Event Planners</h2><br><br>
          <p> Increase the connective power of your conferences by creating the perfect environment where strong bonds
            between your company, its partners, and clients can be established. Whether it be a networking event,
            product launch, exhibition, or conference, Milano Palace has considerable experience in organizing events
            that will exceed your expectations.
          </p>

        </div>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Why Choose Us Section ======= -->
    <section class="feature-area pt-120 pb-90  p-relative feature-inner-bg"
      style="background-image: url('assets/img/feature/inner/feature-inner-bg-1.jpg')">
      <div class="container">
        <div class="section-header wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
          <h2>Event Management Services</h2>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="tp-feature-item mb-30 wow fadeInRight" data-wow-duration="1s" data-wow-delay=".4s">
              <div class="tp-feature-icon">
                <i class="bi bi-phone"> </i>
                <!-- <img src="assets/img/5042955-middle.png" width="100px"> -->
              </div>
              <div class="tp-feature-content">

                <h4 class="tp-feature-content-title mt-0">Conferences & <br> Exhibitions</h4>
                <p>Set up a successful exhibition by booking and designing a stand that will make
                  your promotional material stand out. Boost brand and company visibility through
                  conferences that facilitate attendee interaction and involvement. <br> <br></p>
              </div>
              <div class="tp-feature-shape-two">
                <img src="assets/img/feature/one/feature-shape-1.png" alt="">
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="tp-feature-item mb-30 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
              <div class="tp-feature-icon">
                <i class="bi bi-code-slash"> </i>
              </div>
              <div class="tp-feature-content">

                <h4 class="tp-feature-content-title mt-0">Product Launch</h4>
                <p><br>Create immersive and innovative events to captivate your
                  audience and showcase your new product. <br> Launch and introduce your merchandise into
                  the market through a perfectly executed, personalized, and engaging event to
                  highlight your company’s story.</p>
              </div>
              <div class="tp-feature-shape-two">
                <img src="assets/img/feature/one/feature-shape-1.png" alt="">
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="tp-feature-item mb-30 wow fadeInRight" data-wow-duration="1s" data-wow-delay=".4s">
              <div class="tp-feature-icon">
                <i class="bi bi-phone"> </i>
                <!-- <img src="assets/img/5042955-middle.png" width="100px"> -->
              </div>
              <div class="tp-feature-content">

                <h4 class="tp-feature-content-title mt-0">Gala & <br>Networking Events</h4>
                <p>Our expert event design team will provide style, creativity, and
                  quality into designing an event to capture your guest’s attention. We will make the
                  most of your budget by focusing on venue sourcing, event theme and logistics, as
                  well as brand reflection. <br> <br></p>
              </div>
              <div class="tp-feature-shape-two">
                <img src="assets/img/feature/one/feature-shape-1.png" alt="">
              </div>
            </div>
          </div>
        
        </div>

        <br><br>
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6">
            <div class="tp-feature-item mb-30 wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">
              <div class="tp-feature-icon">
                <i class="bi bi-brush"> </i>
              </div>
              <div class="tp-feature-content">
                <h4 class="tp-feature-content-title mt-0">Festivals & <br>Markets</h4>
                <p>Organize a festival or market that is a cultural celebration and
                  reflection of your company’s mission while simultaneously bringing in revenue. Host
                  an event of high caliber that is made possible through comprehensive advertising and
                  marketing, impeccable stage design, quality retail operations, and collaboration
                  with local vendors to attract as many attendees as possible.</p>
              </div>
              <div class="tp-feature-shape-two">
                <img src="assets/img/feature/one/feature-shape-1.png" alt="">
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="tp-feature-item mb-30 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
              <div class="tp-feature-icon">
                <i class="bi bi-code-slash"> </i>
              </div>
              <div class="tp-feature-content">

                <h4 class="tp-feature-content-title mt-0">Sports Events</h4>
                <p><br>Excite, engage and inspire your partners and shareholders
                  through professionally organized sports events. Put together a cohesive, memorable,
                  and lasting experience for your audience through competent staff and equipment
                  sourcing, venue selection, event promotion and coordination. <br><br><br></p>
              </div>
              <div class="tp-feature-shape-two">
                <img src="assets/img/feature/one/feature-shape-1.png" alt="">
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="tp-feature-shape">
        <div class="tp-feature-shape-one w-img">
          <img src="assets/img/feature/one/features-bg.png" alt="">
        </div>
      </div>
    </section>

    <section id="about" class="about" style="background-color: #f7f9fc;">
      <div class="container" >
        <div class="section-header">
          <h2>Your event road map</h2>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="main-timeline">
                <a href="#" class="timeline wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s">
                  <div class="timeline-icon">
                    <!-- <i class="fa fa-globe"></i> -->
                    <i class="fas fa-drafting-compass"></i>
                  </div>
                  <div class="timeline-content wow fadeInRight" data-wow-duration="1s" data-wow-delay=".2s">
                    <h3 class="title">Crafting Your Event Experience</h3>
                    <p class="description">
                      Begin your journey by envisioning the perfect event. We work closely with you to
                      understand your goals and budget, ensuring your event aligns seamlessly with your
                      brand's identity. Together, we'll choose the ideal venue, date, and time, and craft a
                      unique event concept and agenda that captivates your audience.
                    </p>
                  </div>
                </a>
                <a href="#" class="timeline wow fadeInRight" data-wow-duration="1s" data-wow-delay=".2s">
                  <div class="timeline-icon">
                    <i class="fas fa-bullhorn"></i>
                  </div>
                  <div class="timeline-content wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s">
                    <h3 class="title">Join the Excitement</h3>
                    <p class="description">
                      Get ready to be a part of something extraordinary. We'll create a buzz around your
                      event, spreading the word through captivating marketing strategies that include online
                      and offline channels. You can easily register for the event on our website, and we're
                      always open to partnerships and sponsorships to make your experience even more
                      enriching.
                    </p>
                  </div>
                </a>
                <a href="#" class="timeline wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">
                  <div class="timeline-icon">
                    <i class="fas fa-calendar"></i>
                  </div>
                  <div class="timeline-content wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">
                    <h3 class="title">The Grand Day Arrives</h3>
                    <p class="description">
                      The day you've been waiting for is here! We take care of all the logistics and
                      operations, ensuring a seamless event. Our dedicated team will be on-site to manage
                      everything, from registration to technical support, leaving you free to enjoy the event.
                      You'll have access to valuable resources and content throughout the day.
                    </p>
                  </div>
                </a>
                <a href="#" class="timeline wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">
                  <div class="timeline-icon">
                    <i class="fas fa-arrow-right"></i>
                  </div>
                  <div class="timeline-content wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">
                    <h3 class="title">Your Event Journey Continues</h3>
                    <p class="description">
                      The event might be over, but your experience doesn't end there. We value your feedback,
                      so please share your thoughts with us. We'll provide you with event highlights, photos,
                      and videos to relive the moments. And don't forget to explore our upcoming events and
                      initiatives—your next great adventure awaits.
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  <!-- project-area-start -->
  <section class="project-area tp-project-3-bg pt-115 pb-90" data-background="assets/img/project/three/project-3-bg-1.jpg">
    <div class="container tp-project-3-width">
       <div class="row">
          <div class="col-12">
             <!-- <div class="tp-section tp-section-3 mb-50 text-center">
                <span class="tp-section-sub-title">Recently Completed work</span>
                <h4 class="tp-section-title">Check Our latest projects Just <br> We Have Done</h4>
             </div> -->
             <div class="section-header">
              <h2>Services we provide </h2>
            </div>
          </div>
       </div>
       <div class="row g-0" data-aos="fade-up" data-aos-delay="200">
        <div class="col-xl-12 slides  position-relative">
       <div class="slides-1 swiper">
        <div class="swiper-wrapper">

       <!-- <div class="swiper-container tp-project-3-slider-active">
          <div class="swiper-wrapper"> -->
             <div class="swiper-slide">
                <div class="tp-project-3-item mb-30 tp-thumb-common fix wow fadeInRight" data-wow-duration="1.2s" data-wow-delay=".6s">
                   <div class="tp-project-3-thumb">
                      <div class="tp-thumb-common-overlay wow"></div>
                      <img src="assets/img/events/beamLights.avif" alt="">
                   </div>
                   <div class="tp-project-3-info d-flex justify-content-between align-items-center">
                      <div class="tp-project-3-content">
                         <span>Design</span>
                         <h4 class="tp-project-3-title under-line-white"><a href="project-details.html">Tech Solution</a></h4>
                      </div>
                      <div class="tp-project-3-icon">
                         <a href="project-details.html"><i class="fa-sharp fa-regular fa-arrow-right"></i></a>
                      </div>
                   </div>
                </div>
             </div>
             <div class="swiper-slide">
                <div class="tp-project-3-item mb-30 tp-thumb-common fix wow fadeInRight" data-wow-duration="1s" data-wow-delay=".4s">
                   <div class="tp-project-3-thumb">
                      <div class="tp-thumb-common-overlay wow"></div>
                      <img src="assets/img/events/beamLights.avif" alt="">
                   </div>
                   <div class="tp-project-3-info d-flex justify-content-between align-items-center">
                      <div class="tp-project-3-content">
                         <span>Development</span>
                         <h4 class="tp-project-3-title under-line-white"><a href="project-details.html">Smart Vision</a></h4>
                      </div>
                      <div class="tp-project-3-icon">
                         <a href="project-details.html"><i class="fa-sharp fa-regular fa-arrow-right"></i></a>
                      </div>
                   </div>
                </div>
             </div>
             <div class="swiper-slide">
                <div class="tp-project-3-item mb-30 tp-thumb-common fix wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">
                   <div class="tp-project-3-thumb">
                      <div class="tp-thumb-common-overlay wow"></div>
                      <img src="assets/img/events/beamLights.avif" alt="">
                   </div>
                   <div class="tp-project-3-info d-flex justify-content-between align-items-center">
                      <div class="tp-project-3-content">
                         <span>Technology</span>
                         <h4 class="tp-project-3-title under-line-white"><a href="project-details.html">Analytic Solution</a></h4>
                      </div>
                      <div class="tp-project-3-icon">
                         <a href="project-details.html"><i class="fa-sharp fa-regular fa-arrow-right"></i></a>
                      </div>
                   </div>
                </div>
             </div>
             <div class="swiper-slide">
                <div class="tp-project-3-item mb-30 tp-thumb-common fix wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay=".6s">
                   <div class="tp-project-3-thumb">
                      <div class="tp-thumb-common-overlay wow"></div>
                      <img src="assets/img/events/beamLights.avif" alt="">
                   </div>
                   <div class="tp-project-3-info d-flex justify-content-between align-items-center">
                      <div class="tp-project-3-content">
                         <span>Marketing</span>
                         <h4 class="tp-project-3-title under-line-white"><a href="project-details.html">Digital Marketing</a></h4>
                      </div>
                      <div class="tp-project-3-icon">
                         <a href="project-details.html"><i class="fa-sharp fa-regular fa-arrow-right"></i></a>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
  </div>
</div>
 </section>
 <!-- project-area-end -->

    <section id="servicesWeProvide" class="about" style="background-color: white;">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Services we provide </h2>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 col-12 icon flex-d justify-content-center question-img imgCont">
            <img src="assets/img/events/beamLights.avif" alt="Light system fixed on trusses "
              class="section-image img-fluid srvImg">
            <div class="centered imgTxt">Lights</div>
          </div>
          <div class="col-lg-3 col-md-6 col-12 icon flex-d justify-content-center question-img imgCont">
            <img src="assets/img/events/soundMixer.avif" alt="Sound mixer" class="section-image img-fluid srvImg">
            <div class="centered imgTxt">Sound System</div>
          </div>
          <div class="col-lg-3 col-md-6 col-12 icon flex-d justify-content-center question-img imgCont">
            <img src="assets/img/events/cam.avif" alt="Video camera fixed on a crane"
              class="section-image img-fluid srvImg">
            <div class="centered imgTxt">Videography And Photography </div>
          </div>
          <div class="col-lg-3 col-md-6 col-12 icon flex-d justify-content-center question-img imgCont">
            <img src="assets/img/events/stageWithChairs.avif" alt="Stage with screens and chairs"
              class="section-image img-fluid srvImg">
            <div class="centered imgTxt">Screens</div>
          </div>
          <div class="col-lg-3 col-md-6 col-12 icon flex-d justify-content-center question-img imgCont">
            <img src="assets/img/events/lightsWithScafold.avif" alt="Trusses and rigging"
              class="section-image img-fluid srvImg">
            <div class="centered imgTxt">Trusses</div>
          </div>
          <div class="col-lg-3 col-md-6 col-12 icon flex-d justify-content-center question-img imgCont">
            <img src="assets/img/events/meetingHall.avif" alt="Meetings hall with stage, podium, charis and tables"
              class="section-image img-fluid srvImg">
            <div class="centered imgTxt">Chairs And Sofas</div>
          </div>
          <div class="col-lg-3 col-md-6 col-12 icon flex-d justify-content-center question-img imgCont">
            <img src="assets/img/events/stage.avif" alt="Stage with screens ,lights , sound and crowds."
              class="section-image img-fluid srvImg">
            <div class="centered imgTxt">Explore More <i class="fa fa-arrow-right"></i> </div>
          </div>
        </div>
      </div>
    </section>



    <section id="features" class="features">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Our clients</h2>
        </div>
        <div class="row g-0" data-aos="fade-up" data-aos-delay="200">
          <div class="col-xl-12 slides  position-relative">
            <div class="slides-1 swiper">
              <div class="swiper-wrapper">

                <div class="swiper-slide">
                  <div class="item">
                    <div class=" details">
                      <div class="container" data-aos="fade-up" data-aos-delay="300">
                        <section id="partner" class="section partner">
                          <div class="container">
                            <div class="row">
                              <div class="col-sm-2">
                                <div class="partner-box partner-box-1"></div>
                              </div>
                              <div class="col-sm-2">
                                <div class="partner-box partner-box-2"></div>
                              </div>
                              <div class="col-sm-2">
                                <div class="partner-box partner-box-3"></div>
                              </div>
                              <div class="col-sm-2">
                                <div class="partner-box partner-box-4"></div>
                              </div>
                              <div class="col-sm-2">
                                <div class="partner-box partner-box-5"></div>
                              </div>
                              <div class="col-sm-2">
                                <div class="partner-box partner-box-6"></div>
                              </div>
                            </div>
                          </div>
                        </section>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="item">
                    <div class=" details">
                      <div class="container" data-aos="fade-up" data-aos-delay="300">
                        <section id="partner" class="section partner">
                          <div class="container">
                            <div class="row">
                              <div class="col-sm-2">
                                <div class="partner-box partner-box-7"></div>
                              </div>
                              <div class="col-sm-2">
                                <div class="partner-box partner-box-8"></div>
                              </div>
                              <div class="col-sm-2">
                                <div class="partner-box partner-box-9"></div>
                              </div>
                              <div class="col-sm-2">
                                <div class="partner-box partner-box-10"></div>
                              </div>
                              <div class="col-sm-2">
                                <div class="partner-box partner-box-11"></div>
                              </div>
                              <div class="col-sm-2">
                                <div class="partner-box partner-box-12"></div>
                              </div>
                            </div>
                          </div>
                        </section>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="item">
                    <div class=" details">
                      <div class="container" data-aos="fade-up" data-aos-delay="300">
                        <section id="partner" class="section partner">
                          <div class="container">
                            <div class="row">
                              <div class="col-sm-2">
                                <div class="partner-box partner-box-13"></div>
                              </div>
                              <div class="col-sm-2">
                                <div class="partner-box partner-box-14"></div>
                              </div>
                              <div class="col-sm-2">
                                <div class="partner-box partner-box-15"></div>
                              </div>
                              <div class="col-sm-2">
                                <div class="partner-box partner-box-16"></div>
                              </div>
                              <div class="col-sm-2">
                                <div class="partner-box partner-box-17"></div>
                              </div>
                              <div class="col-sm-2">
                                <div class="partner-box partner-box-18"></div>
                              </div>
                            </div>
                          </div>
                        </section>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="item">
                    <div class=" details">
                      <div class="container" data-aos="fade-up" data-aos-delay="300">
                        <section id="partner" class="section partner">
                          <div class="container">
                            <div class="row">
                              <div class="col-sm-2">
                                <div class="partner-box partner-box-19"></div>
                              </div>
                              <div class="col-sm-2">
                                <div class="partner-box partner-box-20"></div>
                              </div>
                              <div class="col-sm-2">
                                <div class="partner-box partner-box-21"></div>
                              </div>
                              <div class="col-sm-2">
                                <div class="partner-box partner-box-22"></div>
                              </div>
                              <div class="col-sm-2">
                                <div class="partner-box partner-box-23"></div>
                              </div>
                              <div class="col-sm-2">
                                <div class="partner-box partner-box-24"></div>
                              </div>
                            </div>
                          </div>
                        </section>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="item">
                    <div class=" details">
                      <div class="container" data-aos="fade-up" data-aos-delay="300">
                        <section id="partner" class="section partner">
                          <div class="container">
                            <div class="row">
                              <div class="col-sm-2">
                                <div class="partner-box partner-box-25"></div>
                              </div>
                              <div class="col-sm-2">
                                <div class="partner-box partner-box-26"></div>
                              </div>
                              <div class="col-sm-2">
                                <div class="partner-box partner-box-27"></div>
                              </div>
                              <div class="col-sm-2">
                                <div class="partner-box partner-box-28"></div>
                              </div>
                              <div class="col-sm-2">
                                <div class="partner-box partner-box-29"></div>
                              </div>
                              <div class="col-sm-2">
                                <div class="partner-box partner-box-30"></div>
                              </div>
                            </div>
                          </div>
                        </section>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="item">
                    <div class=" details">
                      <div class="container" data-aos="fade-up" data-aos-delay="300">
                        <section id="partner" class="section partner">
                          <div class="container">
                            <div class="row">
                              <div class="col-sm-2">
                                <div class="partner-box partner-box-31"></div>
                              </div>
                              <div class="col-sm-2">
                                <div class="partner-box partner-box-32"></div>
                              </div>
                              <div class="col-sm-2">
                                <div class="partner-box partner-box-33"></div>
                              </div>
                              <div class="col-sm-2">
                                <div class="partner-box partner-box-34"></div>
                              </div>
                              <div class="col-sm-2">
                                <div class="partner-box partner-box-35"></div>
                              </div>
                              <div class="col-sm-2">
                                <div class="partner-box partner-box-36"></div>
                              </div>
                            </div>
                          </div>
                        </section>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="item">
                    <div class=" details">
                      <div class="container" data-aos="fade-up" data-aos-delay="300">
                        <section id="partner" class="section partner">
                          <div class="container">
                            <div class="row">
                              <div class="col-sm-2">
                                <div class="partner-box partner-box-37"></div>
                              </div>
                              <div class="col-sm-2">
                                <div class="partner-box partner-box-38"></div>
                              </div>
                              <div class="col-sm-2">
                                <div class="partner-box partner-box-39"></div>
                              </div>
                              <div class="col-sm-2">
                                <div class="partner-box partner-box-40"></div>
                              </div>
                              <div class="col-sm-2">
                                <div class="partner-box partner-box-41"></div>
                              </div>
                              <div class="col-sm-2">
                                <div class="partner-box partner-box-42"></div>
                              </div>
                            </div>
                          </div>
                        </section>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="item">
                    <div class=" details">
                      <div class="container" data-aos="fade-up" data-aos-delay="300">
                        <section id="partner" class="section partner">
                          <div class="container">
                            <div class="row">
                              <div class="col-sm-2">
                                <div class="partner-box partner-box-43"></div>
                              </div>
                              <div class="col-sm-2">
                                <div class="partner-box partner-box-44"></div>
                              </div>
                              <div class="col-sm-2">
                                <div class="partner-box partner-box-45"></div>
                              </div>
                              <div class="col-sm-2">
                                <div class="partner-box partner-box-46"></div>
                              </div>
                              <div class="col-sm-2">
                                <div class="partner-box partner-box-47"></div>
                              </div>
                              <div class="col-sm-2">
                                <div class="partner-box partner-box-48"></div>
                              </div>
                            </div>
                          </div>
                        </section>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="item">
                    <div class=" details">
                      <div class="container" data-aos="fade-up" data-aos-delay="300">
                        <section id="partner" class="section partner">
                          <div class="container">
                            <div class="row">
                              <div class="col-sm-2">
                                <div class="partner-box partner-box-49"></div>
                              </div>
                              <div class="col-sm-2">
                                <div class="partner-box partner-box-50"></div>
                              </div>
                            </div>
                          </div>
                        </section>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>

        </div>

      </div>
    </section>


    <section class="solve-area tp-solve-overlay pt-115 pb-60">
      <div class="tp-solve-bg" style="background-image: url('assets/img/project-thumb-2.jpg');"></div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-6 col-lg-8">
            <div class="tp-section tp-section-white text-center mb-100">
              <h4 class="tp-section-title">How We Can Help You</h4>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-8 col-12 text-center">
            <br>
            <p class=" wow fadeIn" data-wow-duration="1s" data-wow-delay=".2s">
              Milano Palace will handle everything from scheduling to site selection, entertainment, decor
              arrangement, catering, and production coordination. Rely on our professional team to flawlessly and
              impeccably execute your corporate event.
            </p>
            <br><br>
            <div class="tp-tech-btn wow fadeIn" data-wow-duration="1s" data-wow-delay=".2s">
              <a class="tp-btn" href="/contact">Get Started</a>
            </div>
          </div>

        </div>

      </div>
    </section>
   

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content footer-img">
      <div class="container">
        <div class="row gy-4">

          <div class="col-lg-5 col-md-12 footer-contact text-start">
            <h4>Contact Us</h4>
            <p> <i class="bi bi-geo-alt-fill"></i> <a href="https://goo.gl/maps/4DAvooGhECnZrbYD9" target="_blank">Al
                Garhoud views building 708 Sheikh Rashid Road
                <br>Dubai United Arab Emirates</a>
            </p>
            <p>
              <i class="bi bi-phone"> </i>
              <a href="tel:00971529550050">+971 52 955 0050</a>
            </p><br>
            <p>
              <i class="bi bi-telephone"> </i>
              <a href="tel:0097145461492">+971 454 614 92</a>
            </p><br>
            <p>
              <i class="bi bi-envelope-at"> </i>
              <a href="mailto:info@milanollc.com">info@milanollc.com</a>
            </p><br>
            <p>
              <i class="bi bi-envelope-at-fill"> </i> <a
                href="mailto:marketing@milanollc.com">marketing@milanollc.com</a>
            </p>

            <div class="social-links d-flex justify-content-center ">
              <a href="https://www.facebook.com/Milanowedding/" target="_blank" class="facebook"><i
                  class="bi bi-facebook"></i></a>
              <a href="https://www.instagram.com/milano_palace__wedding/?hl=en" target="_blank" class="instagram"><i
                  class="bi bi-instagram"></i></a>
              <a href="https://www.youtube.com/channel/UCFb2RbYXujYZjXXL8elU3cw" target="_blank" class="youtube"><i
                  class="bi bi-youtube"></i></a>
            </div>
          </div>
          <div class="col-md-1"></div>

          <div class="col-lg-6 col-md-12 footer-info get-in-touch">

            <h4> Looking for help with your event ?</h4>
            <p>Plan an impressive, world-class event guaranteed to impress your guests.
              Get in touch today and start working with us.</p>
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="mail" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" id="message" placeholder="message"
                  required></textarea>
              </div>
              <div class="my-3">
                <p id="sucMessage" style="color: green;display: none;">Your message has been sent. Thank you!</p>
                <p id="Errmessage" style="color: red;display: none;">Error, Please try again. </p>
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>

              <div class="text-center">
                <div class="tp-tech-btn">
                  <!-- <button type="button" onclick="sendMessage()" id="submitBtn">Send
                  Message</button> -->
                  <a class="tp-btn" href="about.html">Send Message</a>
                </div>
                <!-- <button type="button" onclick="sendMessage()" id="submitBtn">Send
                  Message</button> -->
              </div>
            </form>

          </div>

          <!-- <div class="tp-service-shape-two">
            <img src="assets/img/feature/one/feature-shape-1.png" alt="">
          </div> -->



        </div>
      </div>
    </div>

    <div class="footer-legal">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Milano Palace Events</span></strong>. All Rights Reserved
        </div>

      </div>
    </div>
  </footer>

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>


  <script>
    
  </script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/js/contact.js"></script>
  <script src="assets/js/wow.js"></script>
  <script src="assets/js/magnific-popup.js"></script>

  <!-- <script src="assets/js/swiper-bundle.js"></script> -->
  <script src="assets/js/purecounter.js"></script>
  <script src="assets/js/countdown.js"></script>
  <script src="assets/js/main.js"></script>
</body>

</html>