<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Premium Event Planning Services | Milano Palace Events</title>

  <meta
    content="Discover top-notch event planning and management services at Milano Palace Events. We specialize in corporate events, weddings, digital marketing, web design, and app development."
    name="description">
  <meta content="event planning, wedding planning, digital marketing, web design, app development, Milano Palace Events"
    name="keywords">

  <!-- Favicons -->
  <link href="assets/img/logo2.png" rel="icon">
  <link href="assets/img/logo2.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">
  <link href="assets/css/features.css" rel="stylesheet">
  <link href="assets/css/magnific-popup.css" rel="stylesheet">
  <link href="assets/css/chooseCmp.css" rel="stylesheet">
  <link href="assets/css/animate.css" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
  <style>
    .btn-arrow {
      transition: transform 0.2s ease-in-out;
    }

    .btn-arrow:hover {
      transform: translateX(5px);
      color: rgb(49, 85, 163);
    }
  </style>
</head>

<body class="page-index">

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/index" class="logo d-flex align-items-center">
        <img width="180px" height="93px" src="assets/img/logo2.png" alt="Milano Palace Events logo">
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a id="home" href="/index" class="active">Home</a></li>
          <li><a id="events" href="/events">Corporate Events</a></li>
          <li><a id="wedding" href="/wedding">Wedding Events</a></li>
          <li class="dropdown"><a id="itSol" href="#"><span>IT Solutions</span> <i
                class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="/itSolutions">IT support services</a></li>
              <li><a href="/marketingWd">Web Design</a></li>
              <li><a href="/marketingApps">App Development</a></li>
              <!-- <li><a href="/marketingDm">Digital Marketing</a></li>
              <li><a href="/marketingSm">Social Media Marketing</a></li>
              <li><a href="/marketingGa">Google Ads(PPC)</a></li> -->
            </ul>
          </li>
          <!-- <li><a href="#">Portfolio</a></li> -->
          <li><a id="about" href="/about">About US</a></li>
          <li><a id="contact" href="/contact">Contact Us</a></li>
        </ul>
      </nav>

    </div>
  </header>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <br><br>
          <span id="headerTitle"></span>

        </div>
      </div>
    </div>
  </section>


  <script>
    const hero = document.getElementById("hero");
    const title = document.getElementById("headerTitle");
    const images = [
      "assets/img/slider/bg.avif",
      "assets/img/slider/h5.avif",
      "assets/img/slider/h1.avif",
      "assets/img/slider/h6.avif"
    ];

    const titles = [
      "<h2 class='heroTitle' data-aos='fade-up'>Dubai's Premier Event Management Company</h2>",
      "<h2 class='heroTitle' data-aos='fade-up'>Driving Success Through Memorable Events</h2>",
      "<h2 class='heroTitle' data-aos='fade-up'>Elevating Brands, Engaging Audiences</h2>",
      "<h2 class='heroTitle' data-aos='fade-up'>Let Milano Palace Illuminate Your Event Success</h2>",
    ];

    let currentIndex = 0;

    function changeBackground() {
      hero.style.backgroundImage = `url(${images[currentIndex]})`;
      title.innerHTML = titles[currentIndex];;

      currentIndex = (currentIndex + 1) % images.length;
      setTimeout(changeBackground, 4000); 
    }
    changeBackground();
  </script>

  <!-- End Hero Section -->

  <main id="main">
    <section class="feature-area pb-40">
      <div class="container">
        <div class="section-header mb-40">
          <h2>Services We Offer</h2>

        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="tp-feature-4-item mb-80 wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">
              <div class="tp-feature-4-thumb" style="background-color: #1b2f45;">
              </div>
              <div class="tp-feature-4-item-wrapper">
                <div class="tp-feature-4-item-icon">
                  <i class="bi bi-calendar2-event"></i>
                </div>
                <div class="tp-feature-4-item-content">
                  <h4 class="tp-feature-4-item-title">Corporate Events</h4>
                  <p>Take advantage of our expertise in organizing exceptional corporate events that
                    are centered around professional and connected experiences. Reward your clients
                    and their shareholders with events that will reinforce corporate relationships
                    and leave a lasting impression.</p>
                  <br>
                  <div class="tp-about-section-btn ">
                    <a href="/events" class="btn btn-arrow wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".1s">
                      More <i class="bi bi-arrow-right"></i>
                    </a>
                  </div>

                </div>
                <div class="tp-service-shape-two">
                  <img src="assets/img/feature/one/feature-shape-1.png" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="tp-feature-4-item mb-80 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
              <div class="tp-feature-4-thumb" style="background-color: #1b2f45;">
              </div>
              <div class="tp-feature-4-item-wrapper">
                <div class="tp-feature-4-item-icon">
                  <i class="bi bi-heart"></i>
                </div>
                <div class="tp-feature-4-item-content">

                  <h4 class="tp-feature-4-item-title">Wedding Events</h4>
                  <p>Turn your vision into a reality with our wedding event services.
                    We will handle logistics, catering, production, and entertainment to guarantee you a
                    luxurious, stress free, and show-stopping celebration. <br><br><br></p>
                  <br>
                  <div class="tp-about-section-btn ">
                    <a href="/wedding" class="btn btn-arrow wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".1s">
                      More <i class="bi bi-arrow-right"></i>
                    </a>
                  </div>

                </div>
                <div class="tp-service-shape-two">
                  <img src="assets/img/feature/one/feature-shape-1.png" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="tp-feature-4-item mb-80 wow fadeInRight" data-wow-duration="1s" data-wow-delay=".4s">
              <div class="tp-feature-4-thumb" style="background-color: #1b2f45;">
              </div>
              <div class="tp-feature-4-item-wrapper">
                <div class="tp-feature-4-item-icon">
                  <i class="bi bi-filetype-html"></i>
                </div>
                <div class="tp-feature-4-item-content">

                  <h4 class="tp-feature-4-item-title">Web Design</h4>
                  <p>Transform your online presence with our website development. We handle
                    coding, design, and functionality to deliver a polished, user-friendly, and impactful web
                    experience. <br><br><br><br></p>
                  <br>
                  <div class="tp-about-section-btn ">
                    <a href="/marketingWd" class="btn btn-arrow wow fadeInLeft" data-wow-duration="1s"
                      data-wow-delay=".1s">
                      More <i class="bi bi-arrow-right"></i>
                    </a>
                  </div>

                </div>
                <div class="tp-service-shape-two">
                  <img src="assets/img/feature/one/feature-shape-1.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6">
            <div class="tp-feature-4-item mb-80 wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">
              <div class="tp-feature-4-thumb" style="background-color: #1b2f45;">
              </div>
              <div class="tp-feature-4-item-wrapper">
                <div class="tp-feature-4-item-icon">
                  <i class="bi bi-server"></i>
                </div>
                <div class="tp-feature-4-item-content">

                  <h4 class="tp-feature-4-item-title">IT Support Services</h4>
                  <p>We provide expert technical assistance to keep your business running smoothly.
                    From troubleshooting issues to proactive maintenance, our team ensures your IT infrastructure stays
                    secure and efficient.</p>
                  <br>
                  <div class="tp-about-section-btn ">
                    <a href="/itSolutions" class="btn btn-arrow wow fadeInLeft" data-wow-duration="1s"
                      data-wow-delay=".1s">
                      More <i class="bi bi-arrow-right"></i>
                    </a>
                  </div>

                </div>
                <div class="tp-service-shape-two">
                  <img src="assets/img/feature/one/feature-shape-1.png" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="tp-feature-4-item mb-80 wow fadeInRight" data-wow-duration="1s" data-wow-delay=".4s">
              <div class="tp-feature-4-thumb" style="background-color: #1b2f45;">
              </div>
              <div class="tp-feature-4-item-wrapper">
                <div class="tp-feature-4-item-icon">
                  <i class="bi bi-code-slash"></i>
                </div>
                <div class="tp-feature-4-item-content">

                  <h4 class="tp-feature-4-item-title">Apps Development</h4>
                  <p>Turn your innovative ideas into reality with our app development services. We
                    handle coding, design, and functionality to ensure a seamless, user-friendly, and impactful mobile
                    experience. <br> <br></p>
                  <div class="tp-about-section-btn ">
                    <a href="/marketingApps" class="btn btn-arrow wow fadeInLeft" data-wow-duration="1s"
                      data-wow-delay=".1s">
                      More <i class="bi bi-arrow-right"></i>
                    </a>
                  </div>

                </div>
                <div class="tp-service-shape-two">
                  <img src="assets/img/feature/one/feature-shape-1.png" alt="">
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

    <section class="tech-area pt-115 pb-60 mb-120 p-relative tp-tech-bg"
      style="background-image:url('assets/img/tech-bg-1.jpg')">
      <div class="container">
        <div class="row align-items-end">
          <div class="col-lg-5">
            <div class="tp-tech-wrap pb-60 wow fadeInRight" data-wow-duration="1s" data-wow-delay=".4s">
              <div class="tp-section mb-40">
                <!-- <h4 class="tp-section-title">Our Work</h4> -->
                <div class="section-header wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                  <h2>Our Work</h2>
                </div>
                <div class="tp-section-title-wrapper">
                  <p>Drawing on our extensive expertise in event management, the Milano Palace team is committed to
                    delivering top-tier professionalism when it comes to coordinating various occasions. Our mission is
                    to
                    collaborate closely with you to design exceptional gatherings and establish settings that foster the
                    growth of both your personal and business connections. Rooted in a distinctive creative approach
                    coupled
                    with flawless execution, we aim to transform your special occasions into remarkable successes.</p>
                </div>
              </div>
              <div class="tp-tech-list mb-35">
                <div class="tp-tech-item d-flex mb-10">
                  <div class="tp-tech-item-icon">
                    <span>
                      <!-- <img src="assets/img/home/check.png" width="24" height="24" alt="Check mark"> -->
                      <i class="bi bi-check-lg"></i>
                    </span>
                  </div>
                  <div class="tp-tech-item-content">
                    <h5 class="tp-tech-title">Innovative Concepts</h5>
                    <p>We pride ourselves on crafting innovative event concepts that capture the essence of your vision,
                      ensuring that every occasion we coordinate is unique and unforgettable.</p>
                  </div>
                </div>
                <div class="tp-tech-item d-flex">
                  <div class="tp-tech-item-icon">
                    <span>
                      <i class="bi bi-check-lg"></i>
                    </span>
                  </div>
                  <div class="tp-tech-item-content">
                    <h5 class="tp-tech-title">Seamless Execution</h5>
                    <p>With meticulous attention to detail and a dedicated team of professionals, we guarantee the
                      seamless execution of your events, allowing you to focus on enjoying the moment while we take care
                      of all the logistics.</p>
                  </div>
                </div>
              </div>

              <div class="tp-tech-btn">
                <a class="tp-btn" href="https://www.youtube.com/@milanopalace5881" target="_blank">Check out our
                  work</a>
              </div>
              <br>
            </div>
          </div>
          <div class="col-lg-7 text-center">
            <div class="tp-video-1">
              <div class="tp-video-1-play">
                <a class="popup-video" href="https://www.youtube.com/watch?v=JyoK_V__F20">
                  <i class="bi bi-play-fill"></i>
                </a>
              </div>
            </div>

            <div class="tp-industry-4-video d-none">
              <div class="tp-industry-4-video-shape-1">
                <img src="assets/img/industry-4-shape-1.png" alt="">
              </div>
              <div class="tp-industry-4-video-shape-2">
                <img src="assets/img/industry-4-shape-2.png" alt="">
              </div>
              <div class="tp-industry-4-video-icon">
                <a class="popup-video" href="https://www.youtube.com/watch?v=tUP5S4YdEJo">
                  <i class="bi bi-play-fill"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tp-tech-thumb overlay-anim wow fadeInUp " data-wow-duration="1s" data-wow-delay=".4s"
        style="background-image: url('assets/img/home/work2.jpg');"></div>
    </section>

    <section class="counter-area tp-counter-3-bg" style="background-image: url('assets/img/counter-bg-1.jpg');">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="tp-counter-3-item text-center pb-50">
              <div class="tp-counter-3-item-icon">
                <div class="tp-counter-3-item-icon-border">
                  <i class="bi bi-patch-check"></i>
                </div>
              </div>
              <div class="tp-counter-3-item-content">
                <h3 class="tp-counter-3-item-count">
                  <span data-purecounter-duration="1" data-purecounter-end="870" class="purecounter">870</span>
                </h3>
                <p>Project Completed</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="tp-counter-3-item text-center pb-50">
              <div class="tp-counter-3-item-icon">
                <div class="tp-counter-3-item-icon-border">
                  <i class="bi bi-people"></i>
                </div>
              </div>
              <div class="tp-counter-3-item-content">
                <h3 class="tp-counter-3-item-count">
                  <span data-purecounter-duration="1" data-purecounter-end="56" class="purecounter">56</span>
                </h3>
                <p>Professional team members</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="tp-counter-3-item text-center pb-50">
              <div class="tp-counter-3-item-icon">
                <div class="tp-counter-3-item-icon-border">
                  <i class="bi bi-star"></i>
                </div>
              </div>
              <div class="tp-counter-3-item-content">
                <h3 class="tp-counter-3-item-count">
                  <span data-purecounter-duration="1" data-purecounter-end="1500" class="purecounter">1500</span>
                </h3>
                <p>Happy Clients </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="tp-counter-3-item text-center pb-50">
              <div class="tp-counter-3-item-icon">
                <div class="tp-counter-3-item-icon-border">
                  <i class="bi bi-calendar-date"></i>
                </div>
              </div>
              <div class="tp-counter-3-item-content">
                <h3 class="tp-counter-3-item-count">
                  <span data-purecounter-duration="1" data-purecounter-end="19" class="purecounter">19</span>
                </h3>
                <p>Years of Industry Experience</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="choose-section ptb-100">
      <div class="container">
        <div class="section-header wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
          <h2>Why Choose Us</h2>
        </div>
        <div class="row align-items-center">
          <div class="col-lg-5 col-md-12">
            <div class="choose-content wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">
              <div class="icon">
                <i class="bi bi-star-fill"></i>
              </div>
              <h3>Experience</h3>
              <p>Our seasoned team brings years of expertise to the table.</p>
            </div>
            <div class="choose-content wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">
              <div class="icon">
                <i class="bi bi-person"></i>
              </div>
              <h3>Client-Centric</h3>
              <p>Your satisfaction is our priority.</p>
            </div>
            <div class="choose-content wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">
              <div class="icon">
                <i class="bi bi-clock"></i>
              </div>
              <h3>Timely Delivery</h3>
              <p>Projects completed on time and within budget.</p>
            </div>
            <div class="choose-content wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">
              <div class="icon">
                <i class="bi bi-tools"></i>
              </div>
              <h3>Ongoing Support</h3>
              <p>We're here for you post-launch.</p>
            </div>
          </div>
          <div class="col-lg-7 col-md-12">
            <div class="choose-image  wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s"><img
                src="assets/img/q5.jpg" alt="image" style="max-width: 100%;
            height: auto;"></div>
          </div>
        </div>
      </div>
    </section>




    <section class="solve-area tp-solve-overlay pt-115 pb-60">
      <div class="tp-solve-bg" style="background-image: url('assets/img/project-thumb-2.jpg');"></div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-6 col-lg-8">
            <div class="tp-section tp-section-white text-center mb-100">
              <h4 class="tp-section-title">How We Can Help You</h4>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-8 col-12 text-center">
            <br>
            <p class=" wow fadeIn" data-wow-duration="1s" data-wow-delay=".2s">
              Steer your brand identity in the right direction and attain your business goals by partnering with the
              best event management company in Dubai.
            </p>
            <br><br>
            <div class="tp-tech-btn wow fadeIn" data-wow-duration="1s" data-wow-delay=".2s">
              <a class="tp-btn" href="contact">Get Started</a>
            </div>
          </div>

        </div>

      </div>
    </section>



  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content footer-img">
      <div class="container">
        <div class="row gy-4">

          <div class="col-lg-5 col-md-12 footer-contact text-start">
            <h4>Contact Us</h4>
            <p> <i class="bi bi-geo-alt-fill"></i> <a href="https://goo.gl/maps/4DAvooGhECnZrbYD9" target="_blank">Al
                Garhoud views building 708 Sheikh Rashid Road
                <br>Dubai United Arab Emirates</a>
            </p>
            <p>
              <i class="bi bi-phone"> </i>
              <a href="tel:00971529550050">+971 52 955 0050</a>
            </p><br>
            <p>
              <i class="bi bi-telephone"> </i>
              <a href="tel:0097145461492">+971 454 614 92</a>
            </p><br>
            <p>
              <i class="bi bi-envelope-at"> </i>
              <a href="mailto:info@milanollc.com">info@milanollc.com</a>
            </p><br>
            <p>
              <i class="bi bi-envelope-at-fill"> </i> <a
                href="mailto:marketing@milanollc.com">marketing@milanollc.com</a>
            </p>

            <div class="social-links d-flex justify-content-center ">
              <a href="https://www.facebook.com/Milanowedding/" target="_blank" class="facebook"><i
                  class="bi bi-facebook"></i></a>
              <a href="https://www.instagram.com/milano_palace__wedding/?hl=en" target="_blank" class="instagram"><i
                  class="bi bi-instagram"></i></a>
              <a href="https://www.youtube.com/channel/UCFb2RbYXujYZjXXL8elU3cw" target="_blank" class="youtube"><i
                  class="bi bi-youtube"></i></a>
            </div>
          </div>
          <div class="col-md-1"></div>

          <div class="col-lg-6 col-md-12 footer-info get-in-touch">

            <h4> Looking for help with your event ?</h4>
            <p>Plan an impressive, world-class event guaranteed to impress your guests.
              Get in touch today and start working with us.</p>
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="mail" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" id="message" placeholder="message"
                  required></textarea>
              </div>
              <div class="my-3">
                <p id="sucMessage" style="color: green;display: none;">Your message has been sent. Thank you!</p>
                <p id="Errmessage" style="color: red;display: none;">Error, Please try again. </p>
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>

              <div class="text-center">
                <div class="tp-tech-btn">
                  <!-- <button type="button" onclick="sendMessage()" id="submitBtn">Send
                  Message</button> -->
                  <a class="tp-btn" href="about.html">Send Message</a>
                </div>
                <!-- <button type="button" onclick="sendMessage()" id="submitBtn">Send
                  Message</button> -->
              </div>
            </form>

          </div>

          <!-- <div class="tp-service-shape-two">
            <img src="assets/img/feature/one/feature-shape-1.png" alt="">
          </div> -->



        </div>
      </div>
    </div>

    <div class="footer-legal">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Milano Palace Events</span></strong>. All Rights Reserved
        </div>

      </div>
    </div>
  </footer>

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/js/contact.js"></script>
  <script src="assets/js/wow.js"></script>
  <script src="assets/js/magnific-popup.js"></script>

  <script src="assets/js/purecounter.js"></script>
  <script src="assets/js/countdown.js"></script>
  <script src="assets/js/main.js"></script>

</body>

</html>