<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Milano Palace - Your Partner for Email, System Management, Server Hosting, and More</title>
    <meta name="description"
        content="Welcome to Milano Palace in Dubai! We specialize in a range of digital services to help your business thrive. From Emails and Internal System Management to Server Hosting, Technical Support, API Integration, SEO, and Hardware Supplement, we've got you covered. Contact us today to supercharge your online presence and streamline your operations.">
    <meta name="keywords"
        content="Milano Palace, Dubai, Email services, System Management, Server Hosting, Technical Support, API Integration, SEO, Hardware Supplement">

    <!-- Favicons -->
    <link href="assets/img/logo2.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">


    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/features.css" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">
    <link href="assets/css/chooseCmp.css" rel="stylesheet">
    <link href="assets/css/animate.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">


    <style>
        body {
            margin: 0;
            padding: 0;
        }

        .whatsapp-button {
            position: fixed;
            bottom: 20px;
            left: 20px;
            z-index: 1000;
        }

        .whatsapp-button img {
            width: 50px;
            /* Adjust the size as needed */
            height: auto;
            border-radius: 50%;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }
    </style>

</head>

<body class="page-services">

    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a href="/index" class="logo d-flex align-items-center">
                <img width="140px" height="140px" src="assets/img/newLogoWhite.png" alt="Milano Palace Events logo">
            </a>

            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

            <!-- <nav id="navbar" class="navbar">
                <ul>
                    <li><a id="home" href="/index">Home</a></li>
                    <li><a id="events" href="/events">Corporate Events</a></li>
                    <li><a id="wedding" href="/wedding">Wedding Events</a></li>
                    <li class="dropdown"><a id="itSol" href="#" class="active"><span>IT Solutions</span> <i
                                class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <li><a href="/itSolutions">IT support services</a></li>
                            <li><a href="/marketingWd">Web Design</a></li>
                            <li><a href="/marketingApps">App Development</a></li>
                        </ul>
                    </li>
                    <li><a id="about" href="/about">About US</a></li>
                    <li><a id="contact" href="/contact">Contact Us</a></li>
                </ul>
            </nav> -->

        </div>
    </header>

    <div class="whatsapp-button">
        <a href="https://wa.me/00971524930010" target="_blank" rel="noopener noreferrer">
            <img src="assets/img/wt.png" alt="WhatsApp">
        </a>
    </div>

    <main id="main">
        <!-- ======= Breadcrumbs ======= -->

        <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/itsol.avif');">
            <div class="container position-relative d-flex flex-column align-items-center">
                <div class=" text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                    <h2 style="text-transform: uppercase;">
                        Your Digital Solutions <br>Partner in Dubai
                    </h2><br><br><br>
                    <div class="tp-tech-btn">

                        <a class="tp-btn" href="#contactSection">Contact us now</a>

                    </div>
                </div>
            </div>
        </div><!-- End Breadcrumbs -->

        <!-- ======= Services Cards Section ======= -->
        <section class="services-area tp-services-plr pb-90">
            <div class="container-fluid tp-services-width">
                <div class="section-header  wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                    <h2>Outsourcing Your Digital Needs</h2>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-6">
                        <div class="tp-services-item d-flex mb-30 wow fadeInRight" data-wow-duration="1s"
                            data-wow-delay=".4s">
                            <div class="tp-services-item-head">
                                <span>E</span>
                            </div>
                            <div class="tp-services-item-thumb">
                                <img src="assets/img/itSolutions/email.avif" alt="">
                            </div>
                            <div class="tp-services-item-content">

                                <h4 class="tp-services-item-title">Emails & Internal <br>System Management
                                </h4>
                                <p>Enhance your communication and streamline operations with our expert Email
                                    solutions and Internal System Management services. <br>We'll help you create and
                                    manage efficient systems tailored to your business needs.</p>
                            </div>
                            <div class="tp-services-item-shape">
                                <img src="assets/img/shape-01.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6">
                        <div class="tp-services-item d-flex mb-30 wow fadeInUp" data-wow-duration="1s"
                            data-wow-delay=".4s">
                            <div class="tp-services-item-thumb">
                                <img src="assets/img/itSolutions/server.avif" alt="">
                            </div>
                            <div class="tp-services-item-content">

                                <h4 class="tp-services-item-title"> Server Hosting <br>and Maintenance</h4>
                                <p>Milano Palace offers reliable Server Hosting and Maintenance services to
                                    ensure your online presence is always up and running smoothly. <br>Trust us to
                                    keep your servers optimized and secure.</p>
                            </div>
                            <div class="tp-services-item-head">
                                <span>S</span>
                            </div>
                            <div class="tp-services-item-shape">
                                <img src="assets/img/shape-01.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6">
                        <div class="tp-services-item d-flex mb-30 wow fadeInLeft" data-wow-duration="1s"
                            data-wow-delay=".4s">
                            <div class="tp-services-item-thumb">
                                <img src="assets/img/itSolutions/support.avif" alt="">
                            </div>
                            <div class="tp-services-item-content">



                                <h4 class="tp-services-item-title"> Technical <br>Support</h4>
                                <p>Experience top-notch Technical Support from Milano Palace. <br>Our team is here
                                    to resolve your IT challenges promptly, ensuring minimal downtime and
                                    maximum efficiency. <br><br></p>
                            </div>
                            <div class="tp-services-item-head">
                                <span>T</span>
                            </div>
                            <div class="tp-services-item-shape">
                                <img src="assets/img/shape-01.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xl-4 col-lg-6">
                        <div class="tp-services-item d-flex mb-30 wow fadeInRight" data-wow-duration="1s"
                            data-wow-delay=".4s">
                            <div class="tp-services-item-head">
                                <span>A</span>
                            </div>
                            <div class="tp-services-item-thumb">
                                <img src="assets/img/itSolutions/api.avif" alt="">
                            </div>
                            <div class="tp-services-item-content">
                                <h4 class="tp-services-item-title">API <br>Integration</h4>
                                <p>Seamlessly integrate third-party applications and services with your systems
                                    through our API Integration expertise. We'll help you unlock new
                                    possibilities and functionality.</p>
                            </div>
                            <div class="tp-services-item-shape">
                                <img src="assets/img/shape-01.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6">
                        <div class="tp-services-item d-flex mb-30 wow fadeInUp" data-wow-duration="1s"
                            data-wow-delay=".4s">
                            <div class="tp-services-item-thumb">
                                <img src="assets/img/itSolutions/seo.avif" alt="">
                            </div>
                            <div class="tp-services-item-content">

                                <h4 class="tp-services-item-title"> Search Engine <br>Optimization (SEO)</h4>
                                <p>Improve your online visibility and rankings with our Search Engine
                                    Optimization services. Milano Palace employs proven strategies to boost your
                                    website's search engine performance.</p>
                            </div>
                            <div class="tp-services-item-head">
                                <span>S</span>
                            </div>
                            <div class="tp-services-item-shape">
                                <img src="assets/img/shape-01.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6">
                        <div class="tp-services-item d-flex mb-30 wow fadeInLeft" data-wow-duration="1s"
                            data-wow-delay=".4s">
                            <div class="tp-services-item-thumb">
                                <img src="assets/img/itSolutions/hardware.avif" alt="">
                            </div>
                            <div class="tp-services-item-content">


                                <h4 class="tp-services-item-title"> Hardware <br>Supplement</h4>
                                <p>Keep your infrastructure up to date with our Hardware Supplement solutions.
                                    We provide high-quality hardware components and support to meet your
                                    technology needs.</p>
                            </div>
                            <div class="tp-services-item-head">
                                <span>H</span>
                            </div>
                            <div class="tp-services-item-shape">
                                <img src="assets/img/shape-01.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section id="services-list" class="services-list" style="background-color: #f7f9fc;">
            <div class="container wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                <div class="section-header wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                    <h2>Why Choose Us</h2>
                </div>

                <div class="row gy-5">

                    <div class="col-lg-3 col-md-6 service-item wow fadeInLeft" data-wow-duration="1s"
                        data-wow-delay=".4s">
                        <div class="craft-icon">
                            <i class="bi bi-star-fill"></i>
                        </div>
                        <h4 class="craft-title">Experience</h4>
                        <p>Our seasoned team brings years of expertise to the table.</p>

                    </div>

                    <div class="col-lg-3 col-md-6 service-item wow fadeInLeft" data-wow-duration="1s"
                        data-wow-delay=".4s">
                        <div class="craft-icon">
                            <i class="bi bi-person"></i>
                        </div>
                        <h4 class="craft-title">Client-Centric</h4>
                        <p>Your satisfaction is our priority.</p>

                    </div>

                    <div class="col-lg-3 col-md-6 service-item wow fadeInRight" data-wow-duration="1s"
                        data-wow-delay=".4s">
                        <div class="craft-icon">
                            <i class="bi bi-clock"></i>
                        </div>
                        <h4 class="craft-title">Timely Delivery</h4>
                        <p>Projects completed on time and within budget.</p>

                    </div>


                    <div class="col-lg-3 col-md-6 service-item wow fadeInRight" data-wow-duration="1s"
                        data-wow-delay=".4s">
                        <div class="craft-icon">
                            <i class="bi bi-tools"></i>
                        </div>
                        <h4 class="craft-title">Ongoing Support</h4>
                        <p>We're here for you post-launch.</p>

                    </div>
                </div>
            </div>
        </section>





    </main><!-- End #main -->

    <footer id="footer" class="footer">

        <div class="footer-content footer-img">
            <div class="container">
                <div class="row gy-4">

                    <div class="col-lg-5 col-md-12 footer-contact text-start">
                        <h4 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".1s">Contact Us</h4>
                        <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
                            <i class="bi bi-geo-alt-fill"></i>
                            <a href="https://goo.gl/maps/4DAvooGhECnZrbYD9" target="_blank">
                                Al Garhoud views building 708 Sheikh Rashid Road
                                <br>Dubai United Arab Emirates</a>
                        </p>
                        <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".2s">
                            <i class="bi bi-phone"> </i>
                            <a href="tel:00971524930010">+971 52 493 0010</a>
                        </p><br>
                        <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".4s">
                            <i class="bi bi-envelope-at"> </i>
                            <a href="mailto:mohammedali@milanollc.com">info@milanollc.com</a>
                        </p><br>

                        <div class="social-links d-flex justify-content-center ">
                            <a href="https://www.facebook.com/Milanowedding/" target="_blank"
                                class="facebook wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".1s"><i
                                    class="bi bi-facebook"></i></a>
                            <a href="https://www.instagram.com/milano_palace__wedding/?hl=en" target="_blank"
                                class="instagram wow fadeUp" data-wow-duration="1s" data-wow-delay=".1s"><i
                                    class="bi bi-instagram"></i></a>
                            <a href="https://www.youtube.com/channel/UCFb2RbYXujYZjXXL8elU3cw" target="_blank"
                                class="youtube wow fadeInRight" data-wow-duration="1s" data-wow-delay=".1s"><i
                                    class="bi bi-youtube"></i></a>
                        </div>
                    </div>
                    <div class="col-md-1"></div>

                    <div class="col-lg-6 col-md-12 footer-info get-in-touch wow fadeInRight" data-wow-duration="2s"
                        data-wow-delay=".2s" id="contactSection">

                        <h4> Looking for help ?</h4>
                        <p>Empower your business with seamless IT solutions. Contact us today to unlock innovation and
                            elevate your digital success.</p>
                        <form class="php-email-form">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" class="form-control" id="name"
                                        placeholder="Your Name" required>
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input type="email" class="form-control" name="email" id="mail"
                                        placeholder="Your Email" required>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" name="subject" id="subject"
                                    placeholder="Subject" required>
                            </div>
                            <div class="form-group mt-3">
                                <textarea class="form-control" name="message" rows="5" id="message"
                                    placeholder="message" required></textarea>
                            </div>
                            <div class="my-3">
                                <p id="sucMessage" style="color: green;display: none;">Your message has been sent. Thank
                                    you!</p>
                                <p id="Errmessage" style="color: red;display: none;">Error, Please try again. </p>
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>

                            <div class="text-center">
                                <div class="tp-tech-btn">
                                    <button type="button" class="tp-btn" onclick="sendMessage()">Send Message</button>
                                    <!-- <a class="tp-btn" href="#">Send Message</a> -->
                                </div>
                            </div>
                        </form>
                    </div>


                </div>
            </div>
        </div>

        <div class="footer-legal">
            <div class="container">
                <div class="copyright">
                    &copy; Copyright <strong><span>Milano Palace</span></strong>. All Rights Reserved
                </div>

            </div>
        </div>
    </footer>

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <div id="preloader"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/js/contact.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/magnific-popup.js"></script>

    <script src="assets/js/purecounter.js"></script>
    <script src="assets/js/countdown.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/contactSep.js"></script>
</body>

</html>