<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Accordion</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="assets/css/main.css" rel="stylesheet">
    <link href="assets/css/map.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-timeline">
                    <a href="#" class="timeline">
                        <div class="timeline-icon">
                            <!-- <i class="fa fa-globe"></i> -->
                            <i class="fas fa-drafting-compass"></i>
                        </div>
                        <div class="timeline-content">
                            <h3 class="title">Crafting Your Event Experience</h3>
                            <p class="description">
                                Begin your journey by envisioning the perfect event. We work closely with you to
                                understand your goals and budget, ensuring your event aligns seamlessly with your
                                brand's identity. Together, we'll choose the ideal venue, date, and time, and craft a
                                unique event concept and agenda that captivates your audience.
                            </p>
                        </div>
                    </a>
                    <a href="#" class="timeline">
                        <div class="timeline-icon">
                            <i class="fas fa-bullhorn"></i>
                        </div>
                        <div class="timeline-content">
                            <h3 class="title">Join the Excitement</h3>
                            <p class="description">
                                Get ready to be a part of something extraordinary. We'll create a buzz around your
                                event, spreading the word through captivating marketing strategies that include online
                                and offline channels. You can easily register for the event on our website, and we're
                                always open to partnerships and sponsorships to make your experience even more
                                enriching.
                            </p>
                        </div>
                    </a>
                    <a href="#" class="timeline">
                        <div class="timeline-icon">
                            <i class="fas fa-calendar"></i>
                        </div>
                        <div class="timeline-content">
                            <h3 class="title">The Grand Day Arrives</h3>
                            <p class="description">
                                The day you've been waiting for is here! We take care of all the logistics and
                                operations, ensuring a seamless event. Our dedicated team will be on-site to manage
                                everything, from registration to technical support, leaving you free to enjoy the event.
                                You'll have access to valuable resources and content throughout the day.
                            </p>
                        </div>
                    </a>
                    <a href="#" class="timeline">
                        <div class="timeline-icon">
                            <i class="fas fa-arrow-right"></i>
                        </div>
                        <div class="timeline-content">
                            <h3 class="title">Your Event Journey Continues</h3>
                            <p class="description">
                                The event might be over, but your experience doesn't end there. We value your feedback,
                                so please share your thoughts with us. We'll provide you with event highlights, photos,
                                and videos to relive the moments. And don't forget to explore our upcoming events and
                                initiatives—your next great adventure awaits.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/js/contact.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/magnific-popup.js"></script>
  
    <script src="assets/js/purecounter.js"></script>
    <script src="assets/js/countdown.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>