<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <meta name="description"
    content="Discover expert wedding planning tips and services with Milano Palace Events. We make your dream wedding a reality.">
  <meta name="keywords" content="wedding planning, wedding services, event planning, Milano Palace Events">
  <title>Wedding Planning Services in Dubai - Milano Palace Events </title>

  <!-- Favicons -->
  <link href="assets/img/logo2.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

  <style>
    .csIcon {
      padding-right: 10px;
    }
  </style>

</head>

<body class="page-services">

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/index" class="logo d-flex align-items-center">
        <img width="180px" height="93px" src="assets/img/logo2.png" alt="Milano Palace Events logo">
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a id="home" href="/index">Home</a></li>
          <li><a id="events" href="/events">Corporate Events</a></li>
          <li><a id="wedding" href="/wedding" class="active">Wedding Events</a></li>
          <li class="dropdown"><a id="itSol" href="#"><span>IT Solutions</span> <i
                class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="/itSolutions">IT support services</a></li>
              <li><a href="/marketingWd">Web Design</a></li>
              <li><a href="/marketingApps">App Development</a></li>
              <!-- <li><a href="/marketingDm">Digital Marketing</a></li>
                        <li><a href="/marketingSm">Social Media Marketing</a></li>
                        <li><a href="/marketingGa">Google Ads(PPC)</a></li> -->
            </ul>
          </li>
          <!-- <li><a href="#">Portfolio</a></li> -->
          <li><a id="about" href="/about">About US</a></li>
          <li><a id="contact" href="/contact">Contact Us</a></li>
        </ul>
      </nav>

    </div>
  </header>


  <main id="main">
    <!-- ======= Breadcrumbs ======= -->

    <div class="breadcrumbs d-flex align-items-center"
      style="background-image: url('assets/img/wedding/bride-in-luxury-wedding-dress-back-view-2021-08-27-18-39-38-utc-min.JPG');">
      <div class="container position-relative d-flex flex-column align-items-center">
        <div class=" text-center" data-aos="fade-up" data-aos-delay="100">
          <h2>Wedding planners in Dubai</h2><br>
          <p>
            Looking to plan your wedding day? With Milano Palace, create a memorable celebration that echoes your
            personality and tastes. Tell a magical story in an event designed to provide a classic, refined, and
            timeless experience for you and your guests. Choose from a variety of wedding packages to create the most
            special and romantic day.
          </p>

        </div>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Why Choose Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Wedding Services </h2>

        </div>

        <div class="row g-0" data-aos="fade-up" data-aos-delay="200">

          <div class="col-xl-5 img-bg"
            style="background-image: url('assets/img/wedding/bride-in-white-dress-is-holding-wedding-bouquet-2021-08-31-12-20-46-utc-min.jpg')">
          </div>
          <div class="col-xl-7 slides  position-relative">

            <div class="slides-1 swiper">
              <div class="swiper-wrapper">

                <div class="swiper-slide">
                  <div class="item">
                    <h3 class="mb-3">Events decoration</h3>
                    <p>Select breathtaking and elegant decorations that reflect your ideal aesthetic
                      vision. From colorful flower arrangements to glamorous centerpieces, we will
                      meticulously arrange everything to provide that wow factor for you and your
                      guests. Get a visual idea of the setup and decor with 3D rendered models.
                    </p>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="item">
                    <h3 class="mb-3">Photographer and videographer</h3>
                    <p>Capture beautiful moments between your family and friends with a
                      professional and experienced production team.</p>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="item">
                    <h3 class="mb-3"> Sound and lighting equipment</h3>
                    <p>Enhance the magical quality of your wedding day with the highest
                      quality sound and lighting production. Our team will provide you with the best
                      experience by selecting high caliber equipment to compliment and amplify the
                      ambience of your celebration.</p>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="item">
                    <h3 class="mb-3">Selection of wedding venue</h3>
                    <p>Milano Palace will help you choose the best, most comfortable,
                      and desirable location in Dubai that suits your wedding needs. Get the most suitable
                      option at the best possible price.</p>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="item">
                    <h3 class="mb-3">Wedding Catering</h3>
                    <p>Pick any type of cuisine and customize your wedding cake to
                      satisfy your guests and enhance your wedding’s theme.</p>
                  </div>
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>

        </div>

      </div>
    </section>

    <section id="features" class="features" style="background-color: #f7f9fc;">
      <div class=" details">
        <div class="container" data-aos="fade-up" data-aos-delay="300">
          <div class="row">


            <div class="col-md-8 col-12 section-content">
              <h3> Why Milano Place
              </h3>

              <p> Transform your wedding into a once in a lifetime experience and alleviate stress by partnering with
                Milano Palace. Create the most unforgettable day of your life with flawless conceptualization,
                execution, and management.</p>
            </div>

            <div class="col-md-4 col-12 icon flex-d justify-content-center question-img">
              <img src="assets/img/wedding/wedBannerrz.jpg"
                alt="Luxurious wedding table decoration for reception of guests with stylish napkins, cute natural flower"
                class="section-image img-fluid">
            </div>

          </div>

        </div>
      </div>

    </section><!-- End Features Section -->


    <!-- ======= Our Services Section ======= -->
    <section id="services-list" class="services-list">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h3>Crafting Your Dream Wedding</h3>

        </div>

        <div class="row gy-5">

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="icon flex-shrink-0">
              <img class="csIcon" width="55px" height="45px" src="assets/img/icons/3drz.png" alt="3D design icon">
            </div>
            <div>
              <h4 class="title">3D Design</h4>
              <p class="description"> Bring you dream into reality with our talented team of designers and experts.
                They will transform your dream wedding into a breathtaking 3D reality, capturing every detail with
                precision and creativity.
              </p>
            </div>
          </div>
          <!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="icon flex-shrink-0">
              <img class="csIcon" width="55px" height="45px" src="assets/img/icons/editrz.png" alt="Edit desing icon">
            </div>
            <div>
              <h4 class="title">Design Discussion & Tweaks</h4>
              <p class="description">In Step 2 of your wedding planning journey, you'll have the opportunity to engage
                in a collaborative design consultation with our talented team of experts. This is where your wedding
                vision starts to take shape, and your dreams become a tangible reality.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="icon flex-shrink-0">
              <img class="csIcon" width="55px" height="45px" src="assets/img/icons/readyrz.png" alt="Flowers icon">
            </div>
            <div>
              <h4 class="title">Turning Dreams into Reality</h4>
              <p class="description"> it's time to bring your meticulously designed wedding vision to life. This is
                where the magic happens as our dedicated production team works tirelessly to turn your dreams into a
                beautiful reality.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Our Services Section -->




    <section id="help-you-section" class="help-you-section">
      <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">
          <div class=" col-12 text-center">
            <h4> How We Can Help You</h4>
            <p>
              Make the wedding of your dreams come true by turning your personality into a statement. By getting to
              know you, we will ensure that every aspect of your day is included and reflected in the decor,
              entertainment, food, and venue to make it truly special. Milano Palace has extensive experience in
              wedding planning, and our team of experts will support and turn your vision into an exceptionally
              memorable day.
            </p>
            <a href="/contact" class="btn-get-started">Get Started</a>

            <!-- <a class="cta-btn" href="#">Call To Action</a> -->
          </div>
        </div>

      </div>
    </section>

    <section id="features" class="features">
      <div class=" details">
        <div class="container" data-aos="fade-up" data-aos-delay="800">
          <div class="section-header">
            <h4>Our work</h4>
          </div>
          <div id="owl-demo" class="owl-carousel owl-theme">

            <div class="item">
              <img src="assets/img/weddings/1rz.avif"
                alt="Purple and white wedding kosha with flowers,tables,chairs and center piece">
            </div>
            <div class="item">
              <img src="assets/img/weddings/2.avif"
                alt="Gold and white wedding kosha with catwalk,tables,sofas and center pieces">
            </div>
            <div class="item">
              <img src="assets/img/weddings/3.avif"
                alt="Gold and white stage with grey wedding kosha with catwalk,tables,sofas and center pieces">
            </div>
            <div class="item">
              <img src="assets/img/weddings/4.avif"
                alt="Stone inspired kosha with embeded lights,ceiling design,tables,chairs and center piece">
            </div>
            <div class="item">
              <img src="assets/img/weddings/5.avif"
                alt="Another angle of stone inspired kosha with embeded lights,ceiling design,tables,chairs and center piece">
            </div>
            <div class="item">
              <img src="assets/img/weddings/8.avif"
                alt="Light pink kosha with archs desing in the back with flowers,tables,chairs and center piece">
            </div>
            <div class="item">
              <img src="assets/img/weddings/9.avif"
                alt="Waves inspired white kosha with wooden waves design with flowers,tables,chairs and center piece">
            </div>
            <div class="item">
              <img src="assets/img/weddings/10.avif"
                alt="Front view of light pink kosha with archs desing in the back with flowers,tables,chairs and center piece">
            </div>
            <div class="item">
              <img src="assets/img/weddings/11.avif"
                alt="Front view of waves inspired white kosha with wooden waves design with flowers,tables,chairs and center piece">
            </div>
            <div class="item">
              <img src="assets/img/weddings/12.avif"
                alt="Flower petals light purple kosha with flowers,tables,chairs and center piece">
            </div>
            <div class="item">
              <img src="assets/img/weddings/13.avif"
                alt="Pillars white and golden kosha with flowers,tables,chairs and center piece">
            </div>
            <div class="item">
              <img src="assets/img/weddings/14.avif"
                alt="Light waves golden kosha with catwalk,flowers,tables,chairs and center piece">
            </div>
            <div class="item">
              <img src="assets/img/weddings/15.avif"
                alt="Light purple and white kosha with flowers,tables,chairs and center piece">
            </div>
            <div class="item">
              <img src="assets/img/weddings/16.avif"
                alt="Front view of Light purple and white kosha with flowers,tables,chairs and center piece">
            </div>
            <div class="item">
              <img src="assets/img/weddings/17.avif"
                alt="Front view of light waves golden kosha with catwalk,flowers,tables,chairs and center piece">
            </div>
            <div class="item">
              <img src="assets/img/weddings/18.avif"
                alt="Silver and white waves kosha with catwalk,flowers,tables,chairs and center piece">
            </div>
            <div class="item">
              <img src="assets/img/weddings/19.avif"
                alt="Side view of silver and white waves kosha with catwalk,flowers,tables,chairs and center piece">
            </div>
            <div class="item">
              <img src="assets/img/weddings/20.avif"
                alt="White geometric kosha design with webs background,catwalk,flowers,tables,chairs and center piece ">
            </div>
            <div class="item">
              <img src="assets/img/weddings/21.avif"
                alt="Front view of white geometric kosha design with webs background,catwalk,flowers,tables,chairs and center piece ">
            </div>
          </div>
        </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content footer-img">
      <div class="container">
        <div class="row gy-4">

          <div class="col-lg-5 col-md-12 footer-contact text-start">
            <h4>Contact Us</h4>
            <p> <i class="bi bi-geo-alt-fill"></i> <a href="https://goo.gl/maps/4DAvooGhECnZrbYD9" target="_blank">Al
                Garhoud views building 708 Sheikh Rashid Road
                <br>Dubai United Arab Emirates</a>
            </p>
            <p>
              <i class="bi bi-phone"> </i>
              <a href="tel:00971529550050">+971 52 955 0050</a>
            </p><br>
            <p>
              <i class="bi bi-telephone"> </i>
              <a href="tel:0097145461492">+971 454 614 92</a>
            </p><br>
            <p>
              <i class="bi bi-envelope-at"> </i>
              <a href="mailto:info@milanollc.com">info@milanollc.com</a>
            </p><br>
            <p>
              <i class="bi bi-envelope-at-fill"> </i> <a
                href="mailto:marketing@milanollc.com">marketing@milanollc.com</a>
            </p>

            <div class="social-links d-flex justify-content-center ">
              <a href="https://www.facebook.com/Milanowedding/" target="_blank" class="facebook"><i
                  class="bi bi-facebook"></i></a>
              <a href="https://www.instagram.com/milano_palace__wedding/?hl=en" target="_blank" class="instagram"><i
                  class="bi bi-instagram"></i></a>
              <a href="https://www.youtube.com/channel/UCFb2RbYXujYZjXXL8elU3cw" target="_blank" class="youtube"><i
                  class="bi bi-youtube"></i></a>
            </div>
          </div>
          <div class="col-md-1"></div>

          <div class="col-lg-6 col-md-12 footer-info get-in-touch">

            <h4> Looking for help with your event ?</h4>
            <p>Plan an impressive, world-class event guaranteed to impress your guests.
              Get in touch today and start working with us.</p>
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="mail" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" id="message" placeholder="message"
                  required></textarea>
              </div>
              <div class="my-3">
                <p id="sucMessage" style="color: green;display: none;">Your message has been sent. Thank you!</p>
                <p id="Errmessage" style="color: red;display: none;">Error, Please try again. </p>
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>

              <div class="text-center">
                <div class="tp-tech-btn">
                  <!-- <button type="button" onclick="sendMessage()" id="submitBtn">Send
                  Message</button> -->
                  <a class="tp-btn" href="about.html">Send Message</a>
                </div>
                <!-- <button type="button" onclick="sendMessage()" id="submitBtn">Send
                  Message</button> -->
              </div>
            </form>

          </div>

          <!-- <div class="tp-service-shape-two">
            <img src="assets/img/feature/one/feature-shape-1.png" alt="">
          </div> -->



        </div>
      </div>
    </div>

    <div class="footer-legal">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Milano Palace Events</span></strong>. All Rights Reserved
        </div>

      </div>
    </div>
  </footer>

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/js/contact.js"></script>
  <script src="assets/js/wow.js"></script>
  <script src="assets/js/magnific-popup.js"></script>

  <script src="assets/js/purecounter.js"></script>
  <script src="assets/js/countdown.js"></script>
  <script src="assets/js/main.js"></script>
</body>

</html>